<div id="<%= dom_id component %>">
  <div>
    <strong>Name:</strong>
    <%= component.name %>
  </div>

  <div>
    <strong>Brand:</strong>
    <%= component.brand %>
  </div>

  <div>
    <strong>Computer:</strong>
    <%= component.computer_id %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= component.category %>
  </div>

  <div>
    <strong>Architecture:</strong>
    <%= component.architecture %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= component.price %>
  </div>

</div>
