<div id="<%= dom_id computer %>">
  <div>
    <strong>Name:</strong>
    <%= computer.name %>
  </div>

  <div>
    <strong>String:</strong>
    <%= computer.string %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= computer.description %>
  </div>

  <div>
    <strong>Text:</strong>
    <%= computer.text %>
  </div>

  <div>
    <strong>Total price:</strong>
    <%= computer.total_price %>
  </div>

</div>
