<div id="<%= dom_id computer %>">
  <div>
    <strong>Name:</strong>
    <%= computer.name %>
  </div>


  <div>
    <strong>Description:</strong>
    <%= computer.description %>
  </div>

  <div>
    <strong>Tipo de uso :</strong>
    <%= computer.type_of_use %>
  </div>

  <div>
    <strong>Valor:</strong>
    <%= computer.total_price %>
  </div>

</div>
